<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>bookers</title>
</head>
<body>
    <h1>Books</h1>
    <div class=table>
        <h3 class=calamtitle>Title</h3>
        <h3 class=calambody>Body</h3>
        
        
    </div>
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <%= f.text_field :title %>
    <h4>Title</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
    <% end %>
    
    
</body>
</html>