<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>bookers</title>
</head>
<body>
    <h1>Books</h1>
    <div class=table>
        <div class=calamtitle>Title</div>
        <div class=calambody>Body</div>
        
        
    </div>
    
</body>
</html>