<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>bookers</title>
</head>
<body>
    <h1>Books</h1>
    <div class=table>
        <p class=calamtitle>Title</p>
        <p class=calambody>Body</p>
        
        
    </div>
    
</body>
</html>