<html>
<head>
  <meta charset="UTF-8">
  <title>bookers</title>
</head>
<body>
    <h1>ようこそ Bookers へ！</h1>
    <h3>Bookers では、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます</h3>
    
    <p><%= link_to "start","/books" %></p>
    
  
    
    
    
</body>
</html>